#mem3:checked  + .slider_text {
  color: yellow;
}


@import url('/normalize.css');
@import url('/reset.css');


#mem3:checked  + .slider_text {
  color: yellow;
}

* {
  scroll-behavior: smooth;
  transition: 0.3s;
}

.container {
  background-color: #25282a;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 93%;
  height: 93%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.slider_pics {
  display: flex;
  height: 70%;
  width: 100%;
}
.img {
  height: 100%;
  width: 100%;
  border-radius: 3%;
}
.img_mem_1 {
  background-image: url(./images/mem1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img_mem_2 {
  background-image: url(./images/mem2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img_mem_3 {
  background-image: url(./images/mem3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img_mem_4 {
  background-image: url(./images/mem4.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container_control {
  display: flex;
  justify-content: flex-end;
  gap: 0.5%;
  /* order: 2; */
}

@media (max-width: 575px) {
  body {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .container {
    width: 95vw;
  }
  .container_control {
    justify-content: center;
    gap: 5%;
  }
  .slider {
    gap: 10%;
  }
  .slider_pics {
    display: flex;
    height: 50%;
  }
}
/* вруменно */

.slider {
  background-color: red;
}
.navigation {
  background-color: green;
}

